<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajawu's Portfolio</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css"
          integrity="sha512-GFm9O0arU56sgj5HX9IrEtyDqKx3XhbwiTA75XTWW5JoyKnhzQ1Qj3yYbA+MLmy4p+dg5K77NCVxa3nalA96LQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col p-0">
                <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center nav-padding">
                    <a href="/" class="navbar-brand d-flex w-50 mr-auto">
                        <img src="{% static 'images/logo.png' %}" alt="brand-logo" class="main-logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#collapsingNavbar3">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                        <ul class="navbar-nav w-100 justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'portfolio:resume_download' %}">Resume</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#projects-section">Selected Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#testimonials-section">Testimonials</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link fw-700" href="/#contact-section">Contact Me</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link work-button" href="/#contact-section">Let's Work!</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
    </div>
</header>

<section id="hero-section">
    <div class="container-fluid pb-5`">
        <div class="row pb-4">
            <div class="col-sm-1 d-none d-md-flex d-lg-flex d-xl-flex">
                <div class="social-hero-container">
                    <ul class="social-icons-hero p-2">
                        <li>
                            <a href="https://github.com/ajawu">
                                <img src="{% static 'images/github.svg' %}" alt="github-icon" class="social-icon">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ajawu-david-692407143/">
                                <img src="{% static 'images/linkedin.svg' %}" alt="linkedin-icon"
                                     class="social-icon middle-icon">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/AjawuDavid">
                                <img src="{% static 'images/twitter.svg' %}" alt="twitter-icon" class="social-icon">
                            </a>
                        </li>
                        <li class="mt-0">
                            <p class="grey-horizontal m-0">
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm d-flex justify-content-center flex-column hero-text-container">
                <p class="title-hero">Hello 👋, I am </p>
                <h3 class="main-hero">Ajawu David</h3>
                <p class="end-hero">
                    A VIBRANT FULLSTACK DEVELOPER WITH A KEEN EYE FOR DETAIL
                </p>
            </div>

            <div class="col-sm-5 col-lg-6 col-xl-6 d-none d-md-flex d-lg-flex d-xl-flex justify-content-center">
                <img src="{% static 'images/david.webp' %}" alt="hero-image" class="hero-image img-fluid">
            </div>
            <div class="col-sm-1 d-none d-md-none d-lg-flex d-xl-flex"></div>
        </div>
    </div>
</section>

<section id="tools-section">
    {# Tools list large screens #}
    <div class="container-fluid tools-row d-none d-md-block d-lg-block d-xl-block">
        <div class="brand-carousel owl-carousel">
            <div class="single-logo">
                <img src="{% static 'images/django.svg' %}" alt="django-logo"
                     class="tool-image" style="width: 100px; height: 35px;">
            </div>
            <div class="single-logo">
                <img src="{% static 'images/python.svg' %}" alt="python-logo"
                     class="tool-image" style="width: 100px; height: 30px;">
            </div>
            <div class="single-logo">
                <img src="{% static 'images/django_rest.svg' %}" alt="django_rest-logo"
                     class="tool-image" style="width: 120px; height: 53px;">
            </div>
            <div class="single-logo">
                <img src="{% static 'images/jquery.svg' %}" alt="jquery-logo"
                     class="tool-image" style="width: 100px; height: 25px;">
            </div>
            <div class="single-logo">
                <img src="{% static 'images/redis.svg' %}" alt="redis-logo"
                     class="tool-image" style="width: 44px; height: 44px;">
            </div>
            <div class="single-logo">
                <img src="{% static 'images/mysql.svg' %}" alt="mysql-logo"
                     class="tool-image" style="width: 75px; height: 40px;">
            </div>
            <div class="single-logo">
                <img src="{% static 'images/postgres.svg' %}" alt="postgres-logo"
                     class="tool-image" style="width: 53px; height: 53px;">
            </div>
            <div class="single-logo">
                <img src="{% static 'images/linux.svg' %}" alt="linux-logo"
                     class="tool-image" style="width: 42px; height: 49px;">
            </div>
            <div class="single-logo">
                <img src="{% static 'images/react.svg' %}" alt="react-logo"
                     class="tool-image" style="width: 36px; height: 53px;">
            </div>
        </div>
    </div>

    {# Tools list small screens #}
    <div class="tools-row d-sm-block d-md-none d-lg-none d-xl-none">
        <div class="d-flex justify-content-between px-3">
            <img src="{% static 'images/django.svg' %}" alt="django-logo"
                 class="tool-image-small">
            <img src="{% static 'images/django_rest.svg' %}" alt="django_rest-logo"
                 class="tool-image-small">
            <img src="{% static 'images/redis.svg' %}" alt="redis-logo"
                 style="width: 34px; height: 49px;">
             <img src="{% static 'images/postgres.svg' %}" alt="postgres-logo"
                 style="width: 36px; height: 49px;">
        </div>
        <div class="d-flex justify-content-between px-3 mt-3">
            <img src="{% static 'images/python.svg' %}" alt="python-logo"
                 class="tool-image-small">
            <img src="{% static 'images/jquery.svg' %}" alt="jquery-logo"
                 class="tool-image-small">
            <img src="{% static 'images/mysql.svg' %}" alt="mysql-logo"
                 style="width: 42px; height: 49px;">
            <img src="{% static 'images/linux.svg' %}" alt="linux-logo"
                 style="width: 36px; height: 36px;">
        </div>
    </div>
</section>

<section id="resume-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col">
                <h3 class="d-none d-md-block d-lg-block d-xl-block section-title">Resume</h3>
                <h3 class="d-sm-block d-md-none d-lg-none d-xl-none section-title text-center">Resume</h3>
                <h3 class="text-center text-danger">Currently</h3>
                <div class="d-flex">
                    <div class="pl-0 pt-2 pr-5 pb-5">
                        <p class="resume-long">
                            I am currently an intern at <a href="https://hng.tech/" target="_blank">HNG</a>.
                            Which is an ambitious attempt to change the way education is done in Africa.
                            It’s the bridge between learning to code, and becoming the best in the world. <br>
                        </p>
                    </div>
                    <div class="pt-2 px-5 pb-5">
                        <img src="https://hng.tech/img/brand-logo.png" alt="hng-logo">
                    </div>
                </div>
            </div>
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
        </div>

        {# Resume Large screen #}
        <div class="row mt-3 d-none d-md-flex d-lg-flex d-xl-flex">
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-sm-4">
                <div class="job-details-box">
                    <ul class="job-info-list">
                        <li class="duration-text">JAN 2021 - MAY 2021</li>
                        <li class="job-info-text location-text">Abuja</li>
                        <li class="job-info-text position-text">Full Time</li>
                    </ul>
                    <span class="clearfix"></span>
                    <p class="job-title-text">
                        SOFTWARE DEVELOPER - <span class="lighter-text">Stackfill</span>
                    </p>
                    <p class="job-description-long">
                        I reduced the time required for product sourcing by up to 40% by building a website
                        that supported purchasing goods from stackfill supported Asian e-commerce websites and
                        payment with Nigerian debit or credit card.
                    </p>
                </div>

                <div class="job-spacer"></div>

                <div class="job-details-box">
                    <ul class="job-info-list">
                        <li class="duration-text">JAN 2019 - AUG 2019</li>
                        <li class="job-info-text location-text">Abuja</li>
                        <li class="job-info-text position-text">Internship</li>
                    </ul>
                    <span class="clearfix"></span>
                    <p class="job-title-text">
                        INTERN - <span class="lighter-text">CrowdForce</span>
                    </p>
                    <p class="job-description-long">
                        I improved the speed of data analysis by up to 70% and helped reduce errors during the
                        data validation process by building a data export service to generate a report of
                        collected data in excel format.
                    </p>
                </div>
            </div>
            <div class="col-sm-2 resume-divider">
                <div class="first-logo-spacer"></div>
                <img src="{% static 'images/stackfill_logo.png' %}" alt="stackfill-logo" class="company-logo">
                <div class="second-logo-spacer"></div>
                <img src="{% static 'images/cube.jpeg' %}" alt="place-logo" class="cube-logo">
                <div class="third-logo-spacer"></div>
                <img src="{% static 'images/crowdforce.svg' %}" alt="crowdforce-logo" class="company-logo">
                <div class="resume-button-spacer"></div>
                <div class="view-resume-container">
                    <a href="{% url 'portfolio:resume_download' %}" class="purple-ghost-button">
                        View My Resume
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="job-spacer-before"></div>
                <div class="job-details-box">
                    <ul class="job-info-list">
                        <li class="duration-text">JAN 2020 - DEC 2020</li>
                        <li class="job-info-text location-text">Abuja</li>
                        <li class="job-info-text position-text">Part Time</li>
                    </ul>
                    <span class="clearfix"></span>
                    <p class="job-title-text">
                        SOFTWARE DEVELOPMENT- <span class="lighter-text">KiakiaPower</span>
                    </p>
                    <p class="job-description-long">
                        I built the key product (a website to purchase tokens for electric prepaid meters in Nigeria)
                        using Django, HTML, CSS, Vanilla Javascript, Redis, PostgreSQL and deployed it
                        on Digital Ocean and google app engine.
                    </p>
                </div>
            </div>
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
        </div>

        {# Resume Small screen #}
        <div class="row mt-3 d-sm-flex d-md-none d-lg-none d-xl-none">
            <div class="col-sm">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img src="{% static 'images/stackfill_logo.png' %}" alt="stackfill-logo"
                         class="company-logo my-2">
                    <ul class="job-info-list mb-2">
                        <li class="duration-text-small">JAN 2021 - MAY 2021</li>
                        <li class="job-info-text-small location-text">Abuja</li>
                        <li class="job-info-text-small position-text">Full Time</li>
                    </ul>
                    <span class="clearfix"></span>
                    <p class="job-title-text text-center mb-2" style="font-size: 60%">
                        SOFTWARE DEVELOPER
                    </p>
                    <span class="job-title-text lighter-text-small text-center mb-2">Stackfill</span>
                    <p class="job-description-long job-description-long-small">
                        I reduced the time required for product sourcing by up to 40% by building a website
                        that supported purchasing goods from stackfill supported Asian e-commerce websites and
                        payment with Nigerian debit or credit card.
                    </p>
                </div>

                <div class="d-flex justify-content-center align-items-center flex-column my-3">
                    <img src="{% static 'images/cube.jpeg' %}" alt="cube-logo"
                         class="cube-logo my-2">
                    <ul class="job-info-list mb-2">
                        <li class="duration-text-small">JAN 2020 - DEC 2020</li>
                        <li class="job-info-text-small location-text">Abuja</li>
                        <li class="job-info-text-small position-text">Part Time</li>
                    </ul>
                    <span class="clearfix"></span>
                    <p class="job-title-text text-center mb-2" style="font-size: 60%">
                        SOFTWARE DEVELOPER
                    </p>
                    <span class="job-title-text lighter-text-small text-center mb-2">KiakiaPower</span>
                    <p class="job-description-long job-description-long-small">
                        I built the key product (a website to purchase tokens for electric prepaid meters in Nigeria)
                        using Django, HTML, CSS, Vanilla Javascript, Redis, PostgreSQL and deployed it
                        on Digital Ocean and google app engine.
                    </p>
                </div>

                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img src="{% static 'images/crowdforce.svg' %}" alt="crowdforce-logo"
                         class="company-logo my-2">
                    <ul class="job-info-list mb-2">
                        <li class="duration-text-small">JAN 2019 - AUG 2019</li>
                        <li class="job-info-text-small location-text">Abuja</li>
                        <li class="job-info-text-small position-text">Internship</li>
                    </ul>
                    <span class="clearfix"></span>
                    <p class="job-title-text text-center mb-2" style="font-size: 60%">
                        INTERN
                    </p>
                    <span class="job-title-text lighter-text-small text-center mb-2">CrowdForce</span>
                    <p class="job-description-long job-description-long-small">
                        I improved the speed of data analysis by up to 70% and helped reduce errors during the
                        data validation process by building a data export service to generate a report of
                        collected data in excel format.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projects-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col">
                <h3 class="section-title">Highlighted Projects 🤓</h3>
                <p class="projects-subtitle">Few projects I have worked on as a Software Developer</p>
            </div>
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
            <div class="col-sm-4">
                <div class="d-block d-sm-none pb-1 project-spacer"></div>
                <div class="project-container">
                    <img src="{% static 'images/identito-shot.jpg' %}" alt="identito-project-shot"
                         class="project-image">
                    <div class="project-info-container">
                        <div class="name-category-box">
                            <p class="project-name">Identito</p>
                            <p class="category-name">Identity Verification</p>
                        </div>
                        <div class="technologies-box">
                            <ul class="technologies-list" style="padding: 0">
                                <li class="yellow-full">Vanilla JS</li>
                                <li class="purple-full">Bootstrap</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-block d-sm-none pt-4 pb-1 project-spacer"></div>
                <div class="project-container">
                    <a href="https://neue.ajawudavid.tech/" target="_blank">
                        <img src="{% static 'images/neue-shot.jpg' %}" alt="neue-project-shot" class="project-image">
                    </a>
                    <div class="project-info-container">
                        <div class="name-category-box">
                            <p class="project-name">Neue Art Store</p>
                            <p class="category-name">E-Commerce</p>
                        </div>
                        <div class="technologies-box">
                            <ul class="technologies-list">
                                <li class="docker-blue">Docker</li>
                                <li class="green-full">Django</li>
                                <li class="gray-full">+2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 d-none d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-end">
                <div class="view-resume-container">
                    <a href="https://github.com/ajawu" class="purple-ghost-button" target="_blank">
                        More Projects
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-block d-sm-none pt-4 pb-2 project-spacer"></div>
                <div class="project-container">
                    <img src="{% static 'images/western-farm-dashboard-sample.png' %}" alt="ogani-project-shot" class="project-image">
                    <div class="project-info-container">
                        <div class="name-category-box">
                            <p class="project-name">Western Farm</p>
                            <p class="category-name">Inventory Management</p>
                        </div>
                        <div class="technologies-box">
                            <ul class="technologies-list">
                                <li class="blue-full">Electron</li>
                                <li class="green-full">HTML</li>
                                <li class="gray-full">+2</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-block d-sm-none pt-4 pb-2 project-spacer"></div>
                <div class="project-container">
                    <img src="{% static 'images/buyblinds-shot.jpg' %}" alt="buyblinds-project-shot"
                         class="project-image">
                    <div class="project-info-container">
                        <div class="name-category-box">
                            <p class="project-name">BuyBlinds</p>
                            <p class="category-name">E-Commerce</p>
                        </div>
                        <div class="technologies-box">
                            <ul class="technologies-list">
                                <li class="react-blue">React</li>
                                <li class="green-full">DRF</li>
                                <li class="gray-full">+3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
        <div class="row">
            <div class="col d-block d-sm-none justify-content-center mt-3">
                <div class="view-resume-container text-center">
                    <a href="https://github.com/ajawu" class="purple-ghost-button" target="_blank">
                        More Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{#<section id="testimonials-section">#}
{#    <div class="container-fluid">#}
{#        <div class="brand-carousel owl-carousel">#}
{#            <div>#}
{#                <p style="width: 400px; height: 400px;">#}
{#                    Hello World boykis#}
{#                </p>#}
{#            </div>#}
{#            <div class="single-logo">#}
{#                <img src="{% static 'images/python.svg' %}" alt="python-logo"#}
{#                     class="tool-image" style="width: 100px; height: 30px;">#}
{#            </div>#}
{#            <div class="single-logo">#}
{#                <img src="{% static 'images/django_rest.svg' %}" alt="django_rest-logo"#}
{#                     class="tool-image" style="width: 120px; height: 53px;">#}
{#            </div>#}
{#            <div class="single-logo">#}
{#                <img src="{% static 'images/jquery.svg' %}" alt="jquery-logo"#}
{#                     class="tool-image" style="width: 100px; height: 25px;">#}
{#            </div>#}
{#            <div class="single-logo">#}
{#                <img src="{% static 'images/redis.svg' %}" alt="redis-logo"#}
{#                     class="tool-image" style="width: 44px; height: 44px;">#}
{#            </div>#}
{#            <div class="single-logo">#}
{#                <img src="{% static 'images/mysql.svg' %}" alt="mysql-logo"#}
{#                     class="tool-image" style="width: 75px; height: 40px;">#}
{#            </div>#}
{#            <div class="single-logo">#}
{#                <img src="{% static 'images/postgres.svg' %}" alt="postgres-logo"#}
{#                     class="tool-image" style="width: 53px; height: 53px;">#}
{#            </div>#}
{#            <div class="single-logo">#}
{#                <img src="{% static 'images/linux.svg' %}" alt="linux-logo"#}
{#                     class="tool-image" style="width: 42px; height: 49px;">#}
{#            </div>#}
{#            <div class="single-logo">#}
{#                <img src="{% static 'images/react.svg' %}" alt="react-logo"#}
{#                     class="tool-image" style="width: 36px; height: 53px;">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section id="contact-section">
    <div class="container-fluid">
        <div class="row d-none d-md-flex d-lg-flex d-xl-flex">
            <div class="col-sm-1 d-none back-purple d-md-block d-lg-block d-xl-block"></div>
            <div class="col-sm d-flex back-purple pt-5 pb-3">
                <div class="d-flex flex-column justify-content-center py-5" style="max-width: 500px">
                    <h4 class="comment-title">Let's Work ! <span class="larger-icon">💬</span></h4>
                    <p class="comment-subtitle">
                        Let’s build your next project together, just leave <br> a message.
                    </p>
                    <blockquote class="main-testimonial">
                        David worked at CrowdForce and possesses the ultimate "can do" attitude while taking on all
                        tasks with positive energy and a smile.
                    </blockquote>
                    <div class="testifier-container">
                        <div class="avatar-container">
                            <img src="{% static 'images/mr_tomi_avatar.jpeg' %}" alt="testifier-avatar"
                                 class="testifier-avatar">
                        </div>
                        <div class="testifier-details-container">
                            <p class="testifier-name">Tomi Ayorinde</p>
                            <p class="testifier-position">CEO, CrowdForce</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex flex-column justify-content-center align-items-end py-5">
                <div style="width: 80%">
                    <h4 class="contact-form-title">Leave a message</h4>
                    <form action="{% url 'portfolio:contact_me' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="name" class="form-label">Name</label>
                        </div>
                        <input type="text" name="name" id="name" class="form-input">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-input">
                        <label for="message" class="form-label">Message</label>
                        <textarea name="message" id="message" cols="30" rows="2"
                                  class="form-input form-message"></textarea>
                        <div class="submit-button-container">
                            <button type="submit" class="contact-submit-button">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
        </div>

        {# Contact section small screens #}
        <div class="row d-sm-block d-md-none d-lg-none d-xl-none">
            <div class="col-sm-1 d-none back-purple d-md-block d-lg-block d-xl-block"></div>
            <div class="col-sm back-purple pt-5 pb-3">
                <div class="d-flex flex-column justify-content-center align-items-center py-3" style="max-width: 500px">
                    <h4 class="comment-title mb-1">Let's Work ! <span class="larger-icon">💬</span></h4>
                    <p class="comment-subtitle text-center my-2">
                        Let’s build your next project together, just leave <br> a message.
                    </p>
                    <blockquote class="main-testimonial text-center">
                        David worked at CrowdForce and possesses the ultimate "can do" attitude while taking on all
                        tasks with positive energy and a smile.
                    </blockquote>
                    <div class="mt-2 text-center">
                        <img src="{% static 'images/mr_tomi_avatar.jpeg' %}" alt="testifier-avatar"
                                 class="testifier-avatar">
                        <p class="testifier-name">Tomi Ayorinde</p>
                        <p class="testifier-position">CEO, CrowdForce</p>
                    </div>
                </div>
            </div>
            <div class="col-sm d-flex flex-column justify-content-center align-items-end py-5">
                <div style="width: 100%" class="py-2">
                    <h4 class="contact-form-title text-center">Leave a message</h4>
                    <form action="{% url 'portfolio:contact_me' %}" method="post">
                        {% csrf_token %}
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" id="name" class="form-input" required>
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-input" required>
                        <label for="message" class="form-label">Message</label>
                        <textarea name="message" id="message" cols="30" rows="2"
                                  class="form-input form-message" required></textarea>
                        <div class="submit-button-container">
                            <button type="submit" class="contact-submit-button">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
    </div>
</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
            {# large screen footer contact #}
            <div class="col-sm d-none d-md-block d-lg-block d-xl-block">
                <h4 class="footer-title">Get in touch</h4>
                <p class="footer-contact">
                    <img src="{% static 'images/email.svg' %}" alt="email-icon" class="email-image">
                    ajawudavid@gmail.com
                </p>
                <p class="footer-contact mb-4">
                    <img src="{% static 'images/phone.svg' %}" alt="email-icon">
                    08156227194
                </p>
                <ul class="social-icons-list">
                    <li>
                        <a href="https://github.com/ajawu">
                            <img src="{% static 'images/github.svg' %}" alt="github-icon" height="23px">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/ajawu-david/">
                            <img src="{% static 'images/linkedin.svg' %}" alt="linkedin-icon" height="30px">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AjawuDavid">
                            <img src="{% static 'images/twitter.svg' %}" alt="twitter-icon" height="23px">
                        </a>
                    </li>
                </ul>
            </div>

            {# Small screen footer contact #}
            <div class="col-sm d-sm-flex d-md-none d-lg-none d-xl-none flex-column justify-content-center align-items-center"
                style="display: flex;">
                <h4 class="footer-title">Get in touch</h4>
                <p class="footer-contact">
                    <img src="{% static 'images/email.svg' %}" alt="email-icon" class="email-image">
                    ajawudavid@gmail.com
                </p>
                <p class="footer-contact mb-4">
                    <img src="{% static 'images/phone.svg' %}" alt="email-icon">
                    08156227194
                </p>
                <ul class="social-icons-list">
                    <li>
                        <a href="https://github.com/ajawu">
                            <img src="{% static 'images/github.svg' %}" alt="github-icon" height="23px">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/ajawu-david/">
                            <img src="{% static 'images/linkedin.svg' %}" alt="linkedin-icon" height="30px">
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AjawuDavid">
                            <img src="{% static 'images/twitter.svg' %}" alt="twitter-icon" height="23px">
                        </a>
                    </li>
                </ul>
            </div>

            {# Large screen footer logo #}
            <div class="col-sm d-none d-md-flex d-lg-flex d-xl-flex justify-content-end align-items-end">
                <div class="credit-container">
                    <img src="{% static 'images/logo_alone.svg' %}" alt="site-logo" class="credit-image">
                    <p class="credit-name">Ajawu David 2020</p>
                </div>
            </div>

            {# Small screen footer logo #}
            <div class="col-sm d-sm-flex d-md-none d-lg-none d-xl-none justify-content-center align-items-center mt-4">
                <div class="credit-container text-center">
                    <img src="{% static 'images/logo_alone.svg' %}" alt="site-logo" class="credit-image">
                    <p class="credit-name">Ajawu David 2020</p>
                </div>
            </div>
            <div class="col-sm-1 d-none d-md-block d-lg-block d-xl-block"></div>
        </div>
    </div>
</footer>

{% if messages %}
    <div style="position: fixed; top: 80px; right: 30px; width: 270px">
        {% for message in messages %}
            <div class="toast {{ message.tags }}-toast" style="position: fixed; top: 80px; right: 30px; width: 270px" data-delay="50000">
                <div class="d-flex flex-row justify-content-between">
                    <p class="mb-0" style="line-height: 22px; font-size: 15px;">{{ message }}</p>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script>
    $('.brand-carousel').owlCarousel({
        loop: true,
        margin: 1,
        autoplay: true,
        responsive: {
            0: {
                items: 2
            },
            300: {
                items: 3
            },
            600: {
                items: 6
            },
            1020: {
                items: 7
            },
            1200: {
                items: 8
            }
        }
    })
</script>
</body>
</html>