/* ----------------------------------------------- */
/* ----------------- GENERAL SETUP --------------- */
/* ----------------------------------------------- */

html, body {
    scroll-behavior: smooth;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #7f7f7f;
}

/* ----------------------------------------------- */
/* ---------------- HEADER SECTION --------------- */
/* ----------------------------------------------- */

/* ---------------- NAVBAR --------------- */
header {
    background-color: #F8F8F8;
}

.main-logo {
    height: 26px;
    width: auto;
}

.nav-link:link,
.nav-link:visited {
    font-size: 72%;
    margin-right: 10px;
    color: #636466;
    font-weight: 600;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    color: #000;
    /*border-bottom: 3px solid #636466;*/
}

.fw-700 {
    font-weight: 700 !important;
}

.work-button {
    background: linear-gradient(180deg, #FF0000 0%, #5D216A 100%);
    color: #fff !important;
    display: inline-block;
    padding: 8px 17px !important;
    margin: 1px 0 0 !important;
    min-width: 117px;
    font-size: 72%;
    font-weight: 700 !important;
    border-radius: 3px;
}

.custom-toggler .navbar-toggler-icon {
    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
    background-image: linear-gradient(180deg, #FF0000 0%, #5D216A 100%);
}

/* ---------------- HERO SECTION --------------- */
.social-icons-hero {
    list-style: none;
    display: inline-block;
}

.social-icons-hero li {
    text-align: center;
    margin: 20px auto 0;
}

.social-icon {
    height: 27px;
}

.middle-icon {
    margin-left: -2px;
    height: 34px;
}

.grey-horizontal:after {
    display: block;
    content: '';
    height: 70px;
    background-color: #C4C4C4;
    width: 2px;
    margin: 15px auto 0;
}

.social-hero-container {
    position: absolute;
    bottom: 0;
}

.title-hero {
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0.4rem;
    font-size: 90%;
}

.main-hero {
    font-size: 365%;
    font-weight: 700;
    background: linear-gradient(180deg, rgba(255,0,0,1) 33%, rgba(93,33,106,1) 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.end-hero {
    text-transform: uppercase;
    color: #FF0000;
    width: 100%;
    max-width: 460px;
    font-size: 80%;
}

.hero-image {
    margin: 80px 0 0;
    display: block;
    max-height: 390px;
}

.tools-row {
    background-color: #F8F8F8;
    padding: 25px 0;
}

.tool-image {
    max-height: 53px;
    max-width: 120px;
}

.tool-image-small {
    width: 70px;
    height: 50px;
}

.tool-image-pad {
    margin: 0 45px;
}

.owl-nav {
    display: none;
}

.owl-dots {
    display: none;
}

.single-logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    height: 55px !important;
}
/* ----------------------------------------------- */
/* ---------------- RESUME SECTION --------------- */
/* ----------------------------------------------- */
#resume-section {
    margin: 100px 0 80px;
}

.section-title {
    font-weight: 600;
    color: #FF0000;
    font-size: 90%;
    text-transform: uppercase;
}

.job-details-box {
    margin-top: 60px;
}

.job-info-list {
    display: inline;
    float: left;
    padding: 0;
}

.job-info-list li {
    display: inline-block;
}

.duration-text {
    font-weight: 700;
    font-size: 70%;
    line-height: 15px;
    color: #5D216A;
}

.job-info-text {
    font-weight: 600;
    font-size: 70%;
    line-height: 15px;
    letter-spacing: 1.5px;
}

.job-info-text::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FF0000; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin: 0 25px;
}

.duration-text-small {
    font-weight: 700;
    font-size: 57%;
    line-height: 15px;
    color: #5D216A;
}

.job-info-text-small {
    font-weight: 600;
    font-size: 57%;
    line-height: 15px;
    letter-spacing: 1.5px;
}

.job-info-text-small::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FF0000; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin: 0;
}

.location-text {
    color: #FF0000;
}

.position-text {
    color: #000000;
}

.job-title-text {
    color: #000;
    font-size: 70%;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 1.5px;
}

.lighter-text {
    font-weight: 600;
    font-size: 90%;
}

.lighter-text-small {
    font-weight: 600;
    font-size: 60%;
}


.job-description-long {
    color: #000;
    font-weight: 300;
    text-align: justify;
    font-size: 70%;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.job-description-long-small {
    font-size: 60% !important;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.purple-ghost-button:link,
.purple-ghost-button:visited {
    color: #5D216A;
    border: 2px solid #8a319e;
    font-size: 70%;
    line-height: 18px;
    font-weight: bold;
    padding: 11px 13px;
    letter-spacing: 0.3px;
    transition: background-color 0.4s, color 0.4s, border 0.4s;
    display: inline-block;
    margin-left: 3px;
    text-align: center;
    min-width: 125px;
}

.purple-ghost-button:hover,
.purple-ghost-button:active {
    text-decoration: none;
    color: #fff;
    background-color: #5D216A;
    border: 2px solid #5D216A;
}

.job-spacer {
    margin: 385px 0;
}

.job-spacer-before {
    margin: 310px 0;
}

.resume-divider {
    background-image: url(img/divider.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-logo {
    height: 48px;
}

.cube-logo {
    height: 54px;
}

.first-logo-spacer {
    margin: 25px 0;
}

.second-logo-spacer {
    margin: 98px 0;
}

.third-logo-spacer {
    margin: 112px 0;
}

.resume-button-spacer {
    margin: 120px 0;
}

/* ----------------------------------------------- */
/* --------------- PROJECT SECTION --------------- */
/* ----------------------------------------------- */
#projects-section {
    padding: 30px 0 100px;
}

.projects-subtitle {
    font-weight: 400;
    font-size: 70%;
    color: #636466;
    line-height: 20px;
    letter-spacing: 1.5px;
}

.project-image {
    width: 100%;
    height: auto;
}


.project-button-spacer {
    margin: 410px 0;
}

.project-container {
    margin-bottom: 20px;
}

.name-category-box {
    font-size: 70%;
    line-height: 25px;
    letter-spacing: 1.5px;
    display: inline-block;
    width: 50%;
}

.technologies-box {
    display: inline-block;
    width: 50%;
    float: right;
}

.project-name {
    margin-top: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0;
}

.category-name {
    font-weight: 300;
    color: #FF0000;
}

.technologies-list {
    display: inline-block;
    list-style: none;
    float: right;
    margin-top: 25px;
}

.technologies-list li {
    display: inline-block;
    font-weight: 600;
    font-size: 60%;
    line-height: 25px;
    letter-spacing: 1.5px;
    padding: 0 8px;
}

.red-full {
    background: rgba(255, 0, 0, 0.25);
    color: #FF0000;
}

.purple-full {
    background: rgba(93, 33, 106, 0.35);
    color: #5D216A;
}

.gray-full {
    background: rgba(196, 196, 196, 0.34);
    color: #000;
}

.yellow-full {
    background: rgba(240, 219, 79, 0.9);
    color: #323330;
}

.blue-full {
    background: rgba(105, 203, 247, 0.4);
    color: #1956AF;
}

.green-full {
    background: rgba(0, 202, 149, 0.7);
    color: #005133;
}

.docker-blue {
    background: rgba(74, 140, 244, 0.5);
    color: #362FCF;
}

.react-blue {
    background: rgba(58, 216, 233, 0.9);
    color: #20222A;
}

/* ----------------------------------------------- */
/* ------------ TESTIMONIALS SECTION ------------- */
/* ----------------------------------------------- */
.testimonial-box {
    background-color: #FAFAFA;
    padding: 20px;
    min-height: 200px;
}

.testimonial-text {
    color: #000000;
}


/* ----------------------------------------------- */
/* --------------- CONTACT SECTION --------------- */
/* ----------------------------------------------- */

#contact-section {
    padding: 50px 0 0;
}

.back-purple {
    background: #5D216A;
}

.main-comment-half {
    padding: 45px 30px 30px 50px;
}

.comment-title {
    color: #fff;
    font-size: 92%;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.comment-subtitle {
    color: #fff;
    font-size: 73%;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}

.main-testimonial {
    font-weight: 400;
    font-size: 72%;
    letter-spacing: 1.5px;
    line-height: 21px;
    text-align: justify;
    color: #D6D6D6;
    margin-bottom: 30px;
}

.main-testimonial:before {
    content: "\201C";
	font-size: 3em;
	display: inline-block;
}

.larger-icon {
    font-size: 130%;
}

.avatar-container {
    display: inline-block;
}

.testifier-details-container {
    display: inline-block;
}

.testifier-avatar {
    height: 50px;
    width: auto;
    border-radius: 50px;
    display: inline-block;
    margin-right: 4px;
    margin-top: -20px;
}

.testifier-name {
    font-weight: 600;
    font-size: 80%;
    line-height: 17px;
    letter-spacing: 0.3px;
    color: #fff;
    margin: 10px 0 0;
}

.testifier-position {
    color: #C4C4C4;
    font-weight: 300;
    font-size: 70%;
    line-height: 25px;
    letter-spacing: 0.3px;
}

.contact-form-title {
    font-weight: 600;
    font-size: 80%;
    line-height: 35px;
    letter-spacing: 1px;
    color: #000000;
    text-transform: uppercase;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 70%;
    line-height: 17px;
    letter-spacing: 1px;
    color: #A8A8A8;
    margin: 10px 0 0;
}

.form-label:first-child {
    margin-top: 25px;
}

.form-input {
    display: block;
    border: none;
    border-bottom: 2px solid #DEDEDE;
    width: 95%;
    margin: 0 0 20px;
    font-size: 75%;
    color: #444;
    font-weight: 600;
    padding: 10px 0 1px;
    transition: border-bottom-color 0.3s;
}

.form-input:focus,
.form-input:active {
    outline: none;
    border: none;
    border-bottom: 2px solid #FF8958;
}

.submit-button-container {
    margin: 40px 0 0;
    width: 95%;
}

.contact-submit-button {
    background: linear-gradient(180deg, #FF0000 0%, #5D216A 100%);
    color: #fff;
    font-size: 70%;
    letter-spacing: 0.3px;
    line-height: 18px;
    font-weight: 700;
    border: none;
    padding: 13px 20px;
    display: block;
    margin: 0 auto;
    border-radius: 2px;
}

/* ----------------------------------------------- */
/* ---------------- FOOTER SECTION --------------- */
/* ----------------------------------------------- */
footer {
    background: rgba(229, 229, 229, 0.5);
    padding: 50px 0 40px;
}

.footer-title {
    font-weight: 400;
    font-size: 90%;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #FF0000;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-contact {
    font-size: 70%;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #000;
    margin-bottom: 30px;
}

.email-image {
    height: 27px !important;
}

.footer-contact img {
    height: 22px;
    margin-right: 7px;
}

.social-icons-list {
    display: inline-block;
    list-style: none;
    float: left;
    padding: 0;
}

.social-icons-list li {
    display: inline-block;
    font-weight: 600;
    font-size: 50%;
    line-height: 10px;
    letter-spacing: 1.5px;
    padding: 0 16px 0 0;
}

.social-footer-icon {
    height: 20px;
}

.social-footer-icon:nth-child(2) {
    height: 32px !important;
}

.credit-image {
    height: 35px;
    margin-bottom: 10px;
}

.credit-name {
    font-weight: 600;
    font-size: 70%;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #000000;
}

.toast {
    opacity: 0.9;
    font-size: 72%;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 20px;
}

.error-toast {
    background-color: #e74c3c;
    color: #fff;
}

.success-toast {
    background-color: #2ecc71;
    color: #fff;
}

.close {
    font-size: 140%;
    color: #fff;
}

.resume-long {
    color: #000;
    font-weight: 500;
    font-size: 90%;
    max-width: 600px;
}

/* ----------------------------------------------- */
/* ---------------- MEDIA QUERIES --------------- */
/* ----------------------------------------------- */
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero-text-container {
        display: flex;
        justify-content: center;
    }
    .title-hero, .main-hero, .end-hero {
        text-align: center;
    }

     .main-hero {
        font-size: 200%;
    }

    .end-hero {
        max-width: 100%;
        margin-bottom: 50px;
        font-size: 52%;
    }

    .title-hero {
        margin-top: 60px;
        font-size: 60%;
    }

    #resume-section {
        margin: 50px 0 80px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .title-hero, .main-hero, .end-hero {
        text-align: center;
    }

    .title-hero {
        margin-top: 60px;
        font-size: 80%;
    }

    .end-hero {
        font-size: 70%;
        max-width: 350px;
        margin: 10px auto 50px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .main-hero {
        font-size: 230%;
    }

    .end-hero {
        font-size: 55%;
        max-width: 300px;
    }

    .title-hero {
        font-size: 60%;
    }

    .social-icons-hero {
        margin-bottom: 0;
    }

    .nav-padding {
        padding: 0.4rem 0;
    }

    .grey-horizontal {
        margin-bottom: 0.3rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .main-hero {
        font-size: 240%;
    }

    .end-hero {
        font-size: 60%;
    }

    .title-hero {
        font-size: 65%;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .main-hero {
        font-size: 295%;
    }
    .end-hero {
        font-size: 70%;
    }
    .title-hero {
        font-size: 75%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .main-hero {
        font-size: 340%;
    }
    .end-hero {
        font-size: 75%;
    }

    .title-hero {
        font-size: 80%;
    }
}
